
.profile{
	display: flex;
	width: 10%;
	height: 90%;
	
}


.headercss h1 {
    padding-left: 3%;
	text-align: left;
	font-weight: 400;
	font-size: 2.5em;

}

@media screen and (max-width: 800px) {
	.profile{
		width: 20%;
	}


}


/*.headercss aside img{
	width: 80px;
	height: auto;
}*/