



.bio article {
	background-color: #38353b62;
}

.about {
	padding: 0% 1% 1% 1%;
	margin-top: 11%;
	margin-bottom: 5%;
}

.skills {
	margin-top: 3%;
	text-align: center;
	margin-bottom: 5%;
}

.animatedHeader {
	font-size: 1.9em;
	padding: 2% 0;
	animation: skew 5s infinite;
	transform: skew(20deg);
	animation-direction: alternate;
}

.skillsLogo{
	display: flex;
	justify-content: center;
}

.skillsImg {
	width: 100px;
	height: 90px;
	background-color: #a79ddf69;
	padding: 1px;
	border-radius: 10px;
	margin: 1%;
}

@keyframes skew {
    
0% {
	transform: skewX(20deg);
}

100%{
    transform: skewX(-20deg);
}

}

@media screen and (max-width: 480px) { 
	
	.skillsLogo{
		flex-wrap: wrap;
	}

	
}